.error {
	color: var(--red);
}

.alert-notification {
	position: absolute;
	text-align: center;
	z-index: 1050;
	top: 0;
	width: 100%;
}

.btn-edit {
	color: var(--blue);
	cursor: pointer;
}

.btn-delete {
	color: var(--red);
	cursor: pointer;
}
td span.details-control.has-icon {
	width: 20px;
    display: inline-block;
    height: 20px;
    background: url("https://datatables.net/examples/resources/details_open.png") no-repeat center center;
	cursor: pointer;
}

td span.details-control {
    background: none;
	cursor: pointer;
}

tr.details td span.details-control {
	background: url("https://datatables.net/examples/resources/details_close.png") no-repeat center center;
	cursor: pointer;
}
#myBtn {
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #2ECCFA;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
	}
	
#myBtn:hover {
	background-color: #555;
}

.child-table {
	border: 1px solid #ddd !important;
	text-align:center;
}
.child-table thead {
	margin: 5px 0px 80px 0px !important; 
	border-bottom: 1px solid #ddd;
	text-align:center;
}
.invoice {
	font-family:'Times New Roman', Times, serif;
	font-size: 14x;
	padding: 20px;
	height: auto;
	width: 55%;
	margin-left: 20%;
	margin-top: 20px;
	border: 1px solid #ddd !important;
}

@page {
	size: landscape;
}

@media print {
	body {
		width: 100%;
		color: black;
	}
	.nav {
		display: none;
	}
	a::after {
		content:"<" attr(href) ">";
		color: rebeccapurple;
	}
}
